* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(95, 119, 57);
    color: #eecc9b;
    font-family: 'Rowdies', cursive;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#wrap-left {
    left: 0vw;
    top: 0vh;
    width: 50vw;
    height: 100vh;
    background-color: inherit;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrap-right {
    right: 0vw;
    top: 0vh;
    width: 50vw;
    height: 100vh;
    background-color: inherit;
    border-left: 3px solid #eecc9b;
}

#input {
    font-family: 'Rowdies', cursive;
    background-color: inherit;
    color: #eecc9b;
    width: 30vw;
    height: 6vh;
    font-size: 5vh;
    padding: 1vh;
    border: none;
    border-bottom: 4px solid #eecc9b;
    border-radius: 4px;
}

#input:focus {
    background-color: inherit;
    outline: none;
}

.output {
    font-family: 'Rowdies', cursive;
    text-align: center;
    white-space: pre;
    overflow: auto;
    overflow-y: hidden;
    height: 90vh;
    margin: 5vh;
    font-size: 5vh;
    line-height: 7vh;
}